@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  background: hot
   ;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.coupon {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: stretch;
  position: relative;
  text-transform: uppercase;
  color: #000;
}

.coupon::before,
.coupon::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.coupon::before {
  left: 0;
  background-image: radial-gradient(circle at 0 50%, transparent 25px, pink 26px);
}

.coupon::after {
  right: 0;
  background-image: radial-gradient(circle at 100% 50%, transparent 25px, pink 26px);
}

.coupon > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 80px;
  border-right: 2px dashed rgba(0, 0, 0, 0.15);
}

.left div {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-weight: bold;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.right {
  width: 120px;
  background-image: radial-gradient(circle at 100% 50%, transparent 25px, #fff 26px);
}

.right div {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 2.5rem;
  transform: rotate(-90deg);
}

.center h2 {
  background: #111;
  color: pink;
  padding: 0 10px;
  font-size: 2.15rem;
  white-space: nowrap;
}

.center h3 {
  font-size: 2.15rem;
}

.center small {
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 2px;
}

h5 {
text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  color: white;
  }

h6 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
   width: 700px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: stretch;
  position: relative;
  }